.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}




@font-face {
  font-family: shareregular;
  src: url(../fonts/Share-Regular.ttf);
}

@font-face {
  font-family: jura;
  src: url(../fonts/Jura-DemiBold.ttf);
}

.heading-line {
  font-weight: 400;
  font-family: jura;
  text-transform: uppercase;
  line-height: 1em;
  margin-top: 30px !important;
  font-weight: bolder !important;
}

.user-name {
  font-family: shareregular;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  font-weight: bolder;
}

.title{
  font-family: "shareregular", Courier, monospace;
  font-weight: bolder;
}

img.center {
  display: block;
  margin: 0 auto;
}

span#socialIcon > a {
  margin-top: 10px !important;
}

.content {
  width: 80%;
  margin: auto;
}

@media (min-width: 768px){
  .navbar-nav{
    margin: 0 auto !important;
    display: table !important;
    table-layout: fixed !important;
    float:none !important;
  }
}
.contentContainer {
  border: none;
/*  border-radius: 3px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;*/
  clear: both;
}
.contentContainer:first-child {
  padding: 15px 15px;
}
.contentContainer .row > div.listClass {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
 img.iconImage {
  height: 30px;
  width: 30px;
}

.contactForm {
  height : 367px;
  overflow:auto !important;
}
.footer-nav {
  margin-top: 15px;
  color: #ffffff;
  margin-bottom: 0 !important;
}

::-moz-selection {
  color: #2c3e50 !important;
  background: #18bc9c !important;
}

::selection {
  color: #2c3e50 !important;
  background: #18bc9c !important;
}

.verticalalign {
  height: 90px !important;
  line-height: 90px !important;
}

.verticalalignspan {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.divCenter {
  text-align: center;
  vertical-align: middle;
}

.containerHeading {
  height: 35px;
  line-height: 35px;
  background: #2c3e50;
  text-align: center;
  vertical-align: middle !important;
  font-size: 17px;
  color: #ffffff;
  //margin: 3px 80px;
 /* -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;*/
}
.footer {
  background: #2c3e50;
  color: #ffffff;
}

.navbar-default {
  border-bottom: 4px solid #18bc9c !important;
}
