<script src="../scripts/lib/skills-diagram.js"></script>
<br><br>
<div class="container-fluid" style="padding-top:60px">
  <div class="row">
    <div class="col-lg-12 col-mg-12 animated rubberBand">
      <img src="images/my_image.jpg" class="img-responsive img-circle img-user center-block user-image-aboutme"/>
      <span class="bubble"></span>
    </div>
    <div col="col-lg-12 col-mg-12" style="margin-top: 15px">
      <div class="text-center text-capitalize">
        <span class="username-about-me">Mayur Kathale</span><br><span class="post-about-me"> professional freelance web developer</span><br>Pune, India
      </div>
    </div>
  </div>

  <br>
  <div class="row" style="margin-top: 35px">
    <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 contentText animated fadeIn">
      <p>
        I am currently working with Synerzip India, Pune. I have over 6 years of experience
        in developing for a wide range of clients; developing everything from small business websites, to live bidding platforms,
        to eCommerce stores, to blogs, to booking systems, to business portals, to eLearning platforms, and even fully functional
        custom social networks.
      </p>
      <p>
        I have worked experience with customizing orangehrm over 2 years & worked across all of the modules of open-source version.
        For now, I wanted to start working as a freelancer & use my working experience to customize orangehrm according to customers requirements.
      </p>
      <p>I am passionate about developing websites that are both beautiful and intuitive, I believe the
        most effective websites utilize the synergy between aesthetic appeal and usability/intuitiveness. My only mission is
        to build, create, and discover beautiful web applications.
        Not only do I create websites and platforms, I also offer long-term support, hosting/domain advice,
        and more.
      </p>
      <br>
      <h4 class="text-center">I'm great at</h4>
      <br>
      <dl class="skills-diagram">
        <dt class="skill-5">CSS3</dt>
        <dd>5</dd>
        <dt class="skill-10">PHP</dt>
        <dd>10</dd>
        <dt class="skill-6">Angular.JS</dt>
        <dd>3</dd>
        <dt class="skill-8">HTML5</dt>
        <dd>8</dd>
        <dt class="skill-4">RegEx</dt>
        <dd>4</dd>
        <dt class="skill-6">Bootstrap</dt>
        <dd>6</dd>
        <dt class="skill-7">Jquery</dt>
        <dd>7</dd>
        <dt class="skill-9">JavaScript</dt>
        <dd>9</dd>
      </dl>
      <h4 class="text-center">I love working with</h4>
      <div class="row">
        <div class="col col-lg-6 col-md-6 col-sm-8 col-xs-12 col-md-offset-3 col-lg-offset-3 text-center" style="font-size:xx-large !important;">
          <span class="badge btn-dropbox">WordPress</span>
          <span class="badge btn-dropbox">Symfony</span>
          <span class="badge btn-dropbox">Doctrine</span>
          <span class="badge btn-dropbox">MongoDB</span>
          <span class="badge btn-dropbox">Angular.js</span>
          <span class="badge btn-dropbox">Express.js</span>
          <span class="badge btn-dropbox">Node.js</span>
          <span class="badge btn-dropbox">Jquery</span>
          <span class="badge btn-dropbox">BootStrap</span>
        </div>
      </div>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
