<div class="container-fluid" style="padding-top:60px">
  <div class="well-sm">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-4 col-lg-offset-1 col-sm-offset-1">
        <h1 class="heading-line animated fadeInLeft">Boost up your user experience with customized orangehrm application</h1>
          <div class="comment-container">

          </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-7 animated fadeInRight">
        <div class="img-thumbnail pull-left">
          <img src="images/my_image.jpg" class="img-responsive img-rounded center hvr-bounce-in img-user">
          <div class="text-center">
            <div class="user-name">
              Mayur Kathale<br>
            </div>
          <span class="text-center text-muted title">
            Freelance Orangehrm Developer<br>
          </span>
          </div>
        </div>
      <span id="socialIcon" class="text-center" style="display: inline-block; margin-left: 15px !important;">
        <br>
        <a class="btn btn-social-icon btn-facebook hvr-wobble-skew" href="https://www.facebook.com/mayur.kathale"
           target="_blank" onclick="gEvent(ob, link, 'Facebook')"><span class="fa fa-facebook"></span></a><br>
        <a class="btn btn-social-icon btn-github hvr-wobble-skew" href="https://github.com/mayuratsynerzip"
           target="_blank" onclick="gEvent(ob, link, 'Github')"><span class="fa fa-github"></span></a><br>
        <a class="btn btn-social-icon btn-google hvr-wobble-skew" href="https://plus.google.com/u/0/112833450731405021627/posts"
           target="_blank" onclick="gEvent(ob, link, 'Google Plus')"><span class="fa fa-google-plus"></span></a><br>
        <a class="btn btn-social-icon btn-instagram hvr-wobble-skew" href="https://www.instagram.com/mayur.kathale"
           target="_blank" onclick="gEvent(ob, link, 'Instagram')"><span class="fa fa-instagram"></span></a><br>
        <a class="btn btn-social-icon btn-linkedin hvr-wobble-skew" href="https://in.linkedin.com/in/mayurkathale"
           target="_blank" onclick="gEvent(ob, link, 'Linkedin')"><span class="fa fa-linkedin"></span></a><br>
        <a class="btn btn-social-icon btn-twitter hvr-wobble-skew" href="https://twitter.com/MayurKathale"
           target="_blank" onclick="gEvent(ob, link, 'Twitter')"><span class="fa fa-twitter"></span></a><br>
      </span>
      </div>
    </div>
  </div>
  <div class="row animated fadeIn" style="padding-bottom: 35px; padding-top: 30px">
    <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
    <p>
      <span style="font-size: 35px">Welcome,</span> <span class="contentText">I'm Mayur from Pune, India with 6+ years of relevant experience with OrangeHRM.
      I design compelling apps, intuitive interfaces and engaging brands. I want to use my extensive work experience with OrangeHRM to work
      as a Freelancer.
      I would like to experiment and initiate my programming skills to develop your project.
      </span>
      &nbsp;
      <span style="font-size: x-small"><a ui-sref="about">[more]</a></span>
    </p>
    </div>
  </div>

  <div class="row animated fadeIn">
    <div class="contentContainer">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
          <div class="containerHeading">
            What I Do
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row animated fadeIn">
    <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
    <span class="contentText">
      <p>
        I can address your specific requirements for OrangeHRM. I can develop and deliver a customized version of the
        product. Also provides an assistance for OrangeHRM installation, OrangeHRM application and OrangeHRM plugins.
      </p>
      <p>
        Being capable enough to change the look and feel of the module in your system to suit your organization and can also
        include custom made modules & features to suit your requirements. I am always ready to cater my services for the benefit of trusted customers.
      </p>
    </span>
    </div>
    <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
      <div class="row text-center" style="padding-top: 20px">
        <div class="col-lg-6 col-md-6 col-sm-6 listClass">
          <img src="images/color_icon.png" class="iconImage" alt="color_icon"/>
          Colour Theme Changes
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 listClass">
          <img src="images/module-logo.png" class="iconImage" alt="module-logo"/>
          Modular / Functional Changes
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 listClass">
          <img src="images/social-integration.png" class="iconImage" alt="social-integration"/>
          Social Network Integration
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 listClass">
          <img src="images/plus_logo.jpg" class="iconImage" alt="plus_logo"/>
          New Pages/Modules
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 listClass">
          <img src="images/label-edit.png" class="iconImage" alt="label-edit"/>
          Label Customization
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 listClass">
          <img src="images/branding-icon.png" class="iconImage" alt="Corporate"/>
          Corporate Branding
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 listClass">
          <img src="images/cloud.png" class="iconImage" alt="cloud"/>
          Deployment
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 listClass">
          <img src="images/maintenance.png" class="iconImage" alt="maintenance"/>
          Maintenance
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <img src="images/learnmore-api.png" class="iconImage" alt="learnmore-api"/>
          API Development
        </div>
      </div>
    </div>
  </div>

  <div class="row animated fadeIn" style="padding-top:35px">
    <div class="contentContainer">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
          <div class="containerHeading">
            My Work
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row animated fadeIn">
    <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
      <div id="imgwell" class="imgwell">
        <img class="shadows" src="images/portfolio/small/rsz_synerziphrm.png" alt="SynerzipHRM"/>
        <img class="shadows" src="images/portfolio/small/lusail-hr.jpg" alt="Statece"/>
        <img class="shadows" src="images/portfolio/small/rsz_3home___invodo_visual_commerce_solution___invodo.png" alt="invodo"/>
        <img class="shadows" src="images/portfolio/small/rsz_welcome_to_maratha_matrimony.png" alt="LagnamKaroti"/>
        <img class="shadows" src="images/portfolio/small/spurs.png" alt="invodo"/>
      </div>
    </div>
  </div>

  <div class="row animated fadeIn" style="padding-top:35px">
    <div class="contentContainer">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
          <div class="containerHeading">
            My Skils
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
      <div class="wraper">
        <div class="skillst2">
          <div class="skillbar" data-percent="95%">
            <div class="count-bar color-6">
              <div class="title">OrangeHRM</div>
              <div class="count"></div>
            </div>
          </div>
          <div class="skillbar" data-percent="95%">
            <div class="count-bar color-4">
              <div class="title">PHP</div>
              <div class="count"></div>
            </div>
          </div>
          <div class="skillbar" data-percent="90%">
            <div class="count-bar color-7">
              <div class="title">AngularJs</div>
              <div class="count">3</div>
            </div>
          </div>
          <div class="skillbar" data-percent="85%">
            <div class="count-bar color-5">
              <div class="title">Symfony</div>
              <div class="count"></div>
            </div>
          </div>
          <div class="skillbar" data-percent="80%">
            <div class="count-bar color-1">
              <div class="title">HTML 5</div>
              <div class="count"></div>
            </div>
          </div>
          <div class="skillbar" data-percent="70%">
            <div class="count-bar color-2">
              <div class="title">CSS 3</div>
              <div class="count"></div>
            </div>
          </div>
          <div class="skillbar" data-percent="75%">
            <div class="count-bar color-3">
              <div class="title">jQuery</div>
              <div class="count"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer uppar text-center">
  <div class="centerContainer">Ready To Take The Next Step & Stand Out? <span class="enjoy-css" ui-sref="contact">Contact Me</span></div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    jQuery('.skillbar').each(function() {
      jQuery(this).appear(function() {
        jQuery(this).find('.count-bar').animate({
          width:jQuery(this).attr('data-percent')
        },3000);
        var percent = jQuery(this).attr('data-percent');
        jQuery(this).find('.count').html('<span>' + percent + '</span>');
      });
    });
  });
</script>
