<div class="well-sm">
  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-4 col-lg-offset-1 col-sm-offset-1">
      <h2 class="heading-line">Boost up your user experience with customized orangehrm application</h2>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-7">
      <div class="img-thumbnail pull-left">
        <img src="http://i67.tinypic.com/2qu5f94.jpg" class="img-responsive img-rounded center hvr-bounce-in" height="220" width="220">
        <div class="text-center">
          <div class="user-name">
            Mayur Kathale<br>
          </div>
            <span class="text-center text-muted title">
              Freelance Orangehrm Developer,<br>
              Web/PHP Developer
            </span>
        </div>
      </div>
        <span id="socialIcon" class="text-center" style="display: inline-block; margin-left: 20px !important;">
          <br>
          <a class="btn btn-social-icon btn-facebook hvr-wobble-skew" href="https://www.facebook.com/mayur.kathale" target="_blank"><span class="fa fa-facebook"></span></a><br>
          <a class="btn btn-social-icon btn-github hvr-wobble-skew" href="https://github.com/mayuratsynerzip" target="_blank"><span class="fa fa-github"></span></a><br>
          <a class="btn btn-social-icon btn-google hvr-wobble-skew" href="https://plus.google.com/u/0/112833450731405021627/posts" target="_blank"><span class="fa fa-google-plus"></span></a><br>
          <a class="btn btn-social-icon btn-instagram hvr-wobble-skew" href="https://www.instagram.com/mayurmbl" target="_blank"><span class="fa fa-instagram"></span></a><br>
          <a class="btn btn-social-icon btn-linkedin hvr-wobble-skew" href="https://in.linkedin.com/in/mayurkathale" target="_blank"><span class="fa fa-linkedin"></span></a><br>
          <a class="btn btn-social-icon btn-twitter hvr-wobble-skew" href="https://twitter.com/MayurKathale" target="_blank"><span class="fa fa-twitter"></span></a><br>
        </span>
    </div>
  </div>
</div>
<hr>
<div class="row" style="padding-bottom: 60px; padding-top: 30px">
  <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
    <span style="font-size: 40px">
      Welcome,</span> <span style="font-size: 16px">I'm Mayur from Pune, India with 2+ years of relevant experience with OrangeHRM.
    I design compelling apps, intuitive interfaces, and engaging brands. My future prospects is to work on OrangeHRM as a Freelancer.
    I would like to experiment and initiate my programming skills to develop your project.</span>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
    <div class="contentContainer">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3 containerHeading">
          This is how, I can help you
        </div>
      </div>
      <div class="row text-center" style="padding-top: 25px">
        <div class="col-lg-6 col-md-6 col-sm-6 listClass">
          <img src="../images/color_icon.png" class="iconImage">
          Colour Theme Changes
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 listClass">
          <img src="../images/module-logo.png" class="iconImage">
          Modular / Functional Changes
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 listClass">
          <img src="../images/social-integration.png" class="iconImage">
          Social Network Integration
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 listClass">
          <img src="../images/plus_logo.jpg" class="iconImage">
          New Pages/Modules
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 listClass">
          <img src="../images/label-edit.png" class="iconImage">
          Label Customization
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 listClass">
          <img src="../images/branding-icon.png" class="iconImage">
          Corporate Branding
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 listClass">
          <img src="../images/cloud.png" class="iconImage">
          Deployment
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 listClass">
          <img src="../images/maintenance.ico" class="iconImage">
          Maintenance
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <img src="../images/learnmore-api.png" class="iconImage">
          API development
        </div>
      </div>
    </div>
  </div>
</div>
