<div class="container-fluid" style="padding-top:60px">
  <div class="container">
    <h2>Privacy Statement</h2><br><br><br><br><br>
    <p>I respect your privacy, and will never disclose your personal information, including your e-mail address, to any unauthorized third party for their use unless required by law to do so. All client data is kept strictly confidential. So-called "covered information" (e.g., your location data) is not collected, used, shared, or disclosed.</p>
    <p>I will use your e-mail address only to reply to your inquiries, to keep you informed about your projects, and occasionally to pass along to you business resources and news that I think would be valuable to your business.</p>
    <p>This website does not store any cookies on your computer. Server-side PHP sessions are only used for the PHP scripts, and disappear when you close your browser page. No personal information is stored in those sessions.</p>
  </div>
  <br><br><br><br><br>
</div>
