<div class="container-fluid" style="padding-top:60px">
  <div class="container">
    <h2>Term of Use</h2><br><br><br>
    <div><p>By using this website, you agree to abide by the following:</p>
      <ul>
        <li>
          Although all reasonable attempts have been made to ensure accuracy, I, Mayur Kathale, do not assume any
          liability for errors or omissions anywhere on this website. Information on the pages of this website is subject
          to change without notice. It is presented as is, with no implied warranty.
        </li>
        <li>
          Without limiting the rights under copyright, no part of this website may be reproduced, introduced into, or
          stored in a retrieval system, distributed, performed, publicly displayed, made into a derivative work, or
          transmitted in any form or by any means (electronic, mechanical, photocopying, recording, or otherwise), for
          any purpose, without the express written permission of myself. The furnishing of this information does not give
          you any license to this intellectual property.
        </li>
        <li>
          Complying with all applicable copyright laws is your responsibility. Rather than attaching a trademark symbol to
          every occurrence of a trademarked name, I hereby declare that I am using the names only in an editorial fashion,
          with no intention of any infringement of the trademark.
        </li>
        <li>
          By submitting any original material to me for work, you thereby grant to me the right to create any derived works.
          The edited version of any documents sent to me is a derived work, and you retain the copyright to it. The copyright
          of any of my original work is transferred to you only upon my receipt of full payment from you.
        </li>
        <li>
          Feedback on my services is always appreciated. I reserve the right to publish feedback on this website. E-mail
          addresses and full names are never revealed — only the person's initials, city, state, and, if relevant,
          profession.
        </li>
      </ul></div>
  </div>
  <br><br><br><br><br>
</div>
