<link rel="stylesheet" href="../styles/component.css"/>
<link rel="stylesheet" href="../styles/work.css"/>
<script src="../scripts/lib/GridGallary/modernizr.custom.js"></script>
<script src="../scripts/lib/GridGallary/imagesloaded.pkgd.min.js"></script>
<script src="../scripts/lib/GridGallary/masonry.pkgd.min.js"></script>
<script src="../scripts/lib/GridGallary/classie.js"></script>
<script src="../scripts/lib/GridGallary/cbpGridGallery.js"></script>
<script>
  new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
</script>
<br><br><br>
<div class="container-fluid" style="padding-top:30px">
  <div style="margin-left: 175px">
    <h3>Portfolio</h3>
  </div>
  <div id="grid-gallery" class="grid-gallery">
    <section class="grid-wrap">
      <ul class="grid">
        <li class="grid-sizer"></li><!-- for Masonry column width -->
        <li>
          <figure>
            <img src="../images/portfolio/small/rsz_3home___invodo_visual_commerce_solution___invodo.png" alt="img02"/>
            <figcaption><h5>Invodo Embedded Player</h5><p>Video E-commerce Solution. </p></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="../images/portfolio/small/rsz_synerziphrm.png" alt="img01"/>
            <figcaption><h5>Synerzip-HRMS</h5><p>Human Resource Management System.</p></figcaption>
          </figure>
        </li>
        <!--<li>
          <figure>
            <img src="../images/portfolio/small/rsz_primerica___welcome_primerica_agents_.png" alt="img03"/>
            <figcaption><h5>Primerica</h5><p>Continuing Education Training Provider.</p></figcaption>
          </figure>
        </li>-->
        <li>
          <figure>
            <img src="../images/portfolio/small/rsz_welcome_to_maratha_matrimony.png" alt="img04"/>
            <figcaption><h5>Lagnamkaroti Matrimony</h5><p>A Matrimonial site. </p></figcaption>
          </figure>
        </li>
        <!--<li>
          <figure>
            <img src="../images/portfolio/small/rsz_broker___welcome_broker_agents__.png" alt="img05"/>
            <figcaption><h5>StateCE Template</h5><p>Templatized site. </p></figcaption>
          </figure>
        </li>-->
        <li>
          <figure>
            <img src="../images/portfolio/small/rsz_statece__online_continuing_education_courses___programs.png" alt="img06"/>
            <figcaption><h5>StateCE</h5><p>Continuing Education Training Provider.</p></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="../images/portfolio/small/spurs.png" alt="img06"/>
            <figcaption><h5>StateCE</h5><p>Continuing Education Training Provider.</p></figcaption>
          </figure>
        </li>
      </ul>
    </section><!-- // grid-wrap -->
    <section class="slideshow">
      <ul>
        <li>
          <figure>
            <figcaption>
              <h3>Invodo Embedded Player</h3>
              <p>Created a embeddable link which could be easily iframed into any page. This link can be able to change effects
                and visuals of video player. </p>
            </figcaption>
            <img src="../images/portfolio/large/Home%20%20%20Invodo%20Visual%20Commerce%20Solution%20%20%20Invodo.png" alt="img02"/>
          </figure>
        </li>
        <li>
          <figure>
            <figcaption>
              <h3>Synerzip-HRMS</h3>
              <p>This is human resource management web application which is modified from OrangeHRM (open-source). Customized OrangeHrm
              is functional in organization of 400+ users.</p>
            </figcaption>
            <img src="../images/portfolio/large/SynerzipHRM.png" alt="img02"/>
          </figure>
        </li>
        <!--<li>
          <figure>
            <figcaption>
              <h3>Primerica</h3>
              <p></p>
            </figcaption>
            <img src="../images/portfolio/large/Primerica%20%20%20Welcome%20Primerica%20Agents%20.png" alt="img02"/>
          </figure>
        </li>-->
        <li>
          <figure>
            <figcaption>
              <h3>Lagnamkaroti Matrimony</h3>
              <p>"Lagnamkaroti" is a matrimonial site. Matrimonial sites register users, after which they are able to upload
                their profile onto a searchable database maintained by the website. Those users looking to find suitors search
                the database with customised searches that typically include nationality, age, gender, availability of
                photograph and often religion, geographic location and caste
              </p>
            </figcaption>
            <img src="../images/portfolio/large/Welcome%20to%20Maratha%20Matrimony.png" alt="img02"/>
          </figure>
        </li>
        <!--<li>
          <figure>
            <figcaption>
              <h3>StateCE template</h3>
              <p>This is templatized version of statece.com </p>
            </figcaption>
            <img src="../images/portfolio/large/Broker%20%20%20Welcome%20Broker%20Agents%20%20.png" alt="img02"/>
          </figure>
        </li>-->
        <li>
          <figure>
            <figcaption>
              <h3>StateCE</h3>
              <p>Changed most of the user interface on pages where users subscribe education courses which made subscription
                process easier</p>
            </figcaption>
            <img src="../images/portfolio/large/StateCE%20%20Online%20Continuing%20Education%20Courses%20%20%20Programs.png" alt="img02"/>
          </figure>
        </li>
        <li>
          <figure>
            <figcaption>
              <h3>SPURstartup</h3>
              <p>SPURstartup is a crowdfunding platform for the entire startup process, and a place for aspiring entrepreneurs
                to live, grow, and be discovered. Here, you can raise money for every stage of your startup journey and transform an idea into your dream business. </p>
            </figcaption>
            <img src="../images/portfolio/small/spurs.png" alt="img02"/>
          </figure>
        </li>
      </ul>
      <nav>
        <span class="icon nav-prev"></span>
        <span class="icon nav-next"></span>
        <span class="icon nav-close" style="margin-top: 50px"></span>
      </nav>
      <div class="info-keys icon">Navigate with arrow keys</div>
    </section><!-- // slideshow -->
  </div><!-- // grid-gallery -->
</div>

